body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
}


.container {
    background: #283618;
}


nav {
    display: flex;
    justify-content: center;
    color: #fefae0;

}


.nav-ul {
    display: flex;
    justify-content: center;
    padding: 0;
}


li{
    list-style: none;
    margin: 0 25px
}

.nav-links {
    text-decoration: none;
    color: #fefae0;
}

.content-container {
    display: flex;
    justify-content: space-between;
    background: #fefae0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 15px 0 15px;
    padding: 0;
}


.main-container {
    color: #283618;
    margin: 0 10px 60px 10px;
    padding: 10px;
    display: block;
}

h1{
    font-size: 14rem;
    margin-bottom: 50px;
}

.design-main-container {
    font-size: 2rem;
    background-color: #bc6c25;
    border-radius: 50%;
    display: block;
    text-align: end;
    margin: 0 100px 100px 0;
    color: transparent;
    
}

.chapters-container {
    background-color: #606c38;
    width: 1200px;
    margin: 5px 10px 10px 0 ;
    border-radius: 20px;
}


.chapters-li {
    background-color: #fefae0;
    margin: 10px 40px 10px 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.chapters-li-header {
    background-color: #bc6c25;
    margin: 10px 40px 10px 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    color: #fefae0;
}

a{
    text-decoration: none;
    color: #283618;
}

.current {
    background-color: #dda15e;
}

.footer-container {
    background-color: #283618   ;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #fefae0;
}

.footer-name{
    font-size: 2rem;
    color: #fefae0;
    margin: 100px 0px 40px 100px ;
}

.footer-contact {
    margin: 40px 0;
    color: #fefae0;
    font-size: 1rem;
}

.footer-pages {
    margin: 40px 50px;
    color: #fefae0;
    font-size: 1rem;
}

dd, .footer-links{
    margin: 10px 20px 0 0;
    color: #fefae07c;
}

i {
    color: #bc6c25;
}

.chapter-1 {
    line-height: 1.6;
    padding: 5px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.verdades {
    background-color: #606c38;
    color: #fefae0;
    padding:10px;
    margin: 10px 0 0 0 ;
}

@media screen and (max-width: 580px){
    li {
        margin: 0 10px;
    }

    .content-container {
        
        flex-direction: column;
        text-align: center;
    }
    
    
    .main-container {
        margin: 0 0 50px 0;
        padding: 0;
    }
    
    h1{
        font-size: 4rem;
        margin-bottom: 50px;
    }
    
    .design-main-container {
        font-size: 1rem;
        text-align: center;
        margin: 0 5px 20px 5px;
        
        
    }
    
    .chapters-container { 
        width: 100%;
    }
    
    
    .footer-container {
        background-color: #283618   ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        border-top: 1px solid #fefae0;
    }
    
    .footer-name{
        font-size: 2rem;
        color: #fefae0;
        margin: 100px 0px 40px 100px ;
    }
    
    .footer-contact {
        margin: 40px 50px;
        color: #fefae0;
        font-size: 1rem;
    }
    
    .footer-pages {
        margin: 40px 50px;
        color: #fefae0;
        font-size: 1rem;
    }
    
    dd, .footer-links{
        margin: 10px 20px 0 0;
        color: #fefae07c;
    }

    .chapter-1 {
        height: 300px;
        
        
    }
}

